<html>
  <head>
    <title>EaseCI host</title>
    <meta charset="UTF-8"> 
  </head>
  <body>
    <h1>EaseCI welcome!</h1>
    <p>This server belong to EaseCI organization and is not configured yet. See you soon :)</p> 
    <p style="color: blue">Created in: {{ ansible_managed }}</p>
  </body> 
</html>
